.range-select {
    text-align: right;
    position: relative;
}
.yardline-current-range {
    padding: 10px;
    margin-bottom: 8px;
}
.picker-open {
    display: block;
    position: absolute;
    right: 0;
    z-index: 1;
    background-color: #ffffff;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}
.picker-closed {
    display: none;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}